<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated msa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="MicroservicesArchitecture.presentation.MicroservicesArchitectureModelWizardID"
            name="%_UI_MicroservicesArchitectureModelWizard_label"
            class="MicroservicesArchitecture.presentation.MicroservicesArchitectureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MicroservicesArchitectureModelFile.gif">
         <description>%_UI_MicroservicesArchitectureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated msa -->
      <editor
            id="MicroservicesArchitecture.presentation.MicroservicesArchitectureEditorID"
            name="%_UI_MicroservicesArchitectureEditor_label"
            icon="icons/full/obj16/MicroservicesArchitectureModelFile.gif"
            extensions="microservicesarchitecture"
            class="MicroservicesArchitecture.presentation.MicroservicesArchitectureEditor"
            contributorClass="MicroservicesArchitecture.presentation.MicroservicesArchitectureActionBarContributor">
      </editor>
   </extension>

</plugin>
