<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="architecture.recovery.dsl.design.Activator"
               id="architecture.recovery.dsl.design"
	       name="dsl">
    </component>
  </extension>
</plugin>
